body{
    background-color: brown;
    display: flex;
    justify-content: center;
}

table{
    background-color: maroon;
    padding: 20px 60px;
    color: white;
}

button{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
