body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.searchbar{
    width: 80%; 
    padding: 10px;
    margin: 5px;
    
    border-radius: 10px; 
    background-color: black;
    border: 1px solid gray;
}

.vdos-list{
    padding:10px;
}

.vdo{
    display: inline-block;
    padding: 2px;
}

.vdo video{
    border-radius: 12px;
}

h3{
    margin: 0px;
}

.vdo p{
    margin: 0px;
    color: gray;
}