.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tablecss{
  margin: 20px;
  border-radius: 12px;
  border-collapse: collapse;
  border-bottom: 2px solid rgb(42, 151, 137);
 
}

.tablecss thead th{
  background-color: rgb(42, 151, 137);
  color: white;
  text-align: center;
}

.tablecss .first{
  border-radius: 12px 0 0 0;
}

.tablecss .last{
  border-radius: 0 12px 0 0;
}

.tablecss th, .tablecss td{
  padding: 10px;
  width: 150px;
  
}

.tablecss td{
  text-align: left;
}

.tablecss tr:hover{
  background-color: gainsboro;
  color: rgb(42, 151, 137);
  font-weight: bold;
}

.tablecss tbody tr:nth-child(2){
  background-color: rgb(238, 228, 228);
}

.center-table{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
}

.add{
  color: white;
  background-color: green;
}

.remove{
  color: white;
  background-color: red;
}

.clear{
  color: red;
  border-color: red;
  background-color: antiquewhite;
}